*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.nostelle{
  opacity: 0.2;
}

/* //////REGOLE GENERALI */

header{
  width: 100%;
  height: 50px;
  display: flex;
  /* background-color: black; */
}

header .header-left h1{
  color: red;
  padding: 0 50px;
}

header .header-right .box-input{
  position: absolute;
  right: 100px;
  line-height: 45px;
}

/* ///////////header */

.box-copertina{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px;
}

.box-copertina .copertina{
  width: calc(100% / 4 - 20px);
  height: 100%;
  margin-top: 100px;
  position: relative;
  cursor: pointer;
}

.box-copertina .locandina:hover{
  opacity: 0.2;
}

.box-copertina .dettagli{
  color: red;
}

.box-copertina .dettagli i{
  color: black;
}

.box-copertina .dettagli h1{
  text-transform: uppercase;
}

.box-copertina .copertina h4{
  margin-top: 20px;
}

.box-copertina .copertina .bandiera{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 25px;
}

.box-copertina .copertina .locandina{
  width: 100%;
  height: 450px;
  border: 1px solid black;
}

 .dettagli{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   padding: 20px;
   margin: 15px 20px;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 10px;
   transform: translateY(-50%);
}




/* / */
